{% extends 'base.html.twig' %}

{% block title %}Panneau de configuration{% endblock %}

{% block body %}

    <h1 class="title">Panneau de configuration</h1>

    <nav class="navbar">
    {% if app.user %}
            <a class="link" href="{{ path('new_categorie') }}">Ajouter une catégorie</a>
            <a class="link" href="{{ path('new_session') }}">Ajouter un module</a>
            <a class="link" href="{{ path('new_session') }}">Ajouter une session</a>
            <a class="link" href="{{ path('new_session') }}">Programmer une session</a>
            <a class="link" href="{{ path('new_session') }}">Ajouter une formation</a>
            <a class="link" href="{{ path('new_session') }}">Ajouter un formateur</a>
        </nav>

    {% endif %}
    
{% endblock %}
