{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    {% if app.user %}
            
            <h1 class="title">Welcome !</h1>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('show_home', {'id': app.user.id}) }}" class="text-danger card-stagiaire link-shadowStagiaire mb-5"><strong>Administrator</strong></a>
            {% else %}
            <a href="{{ path('show_home', {'id': app.user.id}) }}" class="card-stagiaire link-shadowStagiaire mb-5"><strong>{{ app.user }}</strong></a>
            {% endif %}
        
            <div class="dashboard-container mb-5">
                {% if not sessions %}
                    <p class="center"><a href="{{ path('new_session') }}" class="btn btn-success">Créer une session</a></p>
                {% else %}

                    <table class="table table-borderless">
                        <thead>
                            <tr class="tac">
                                <th>Session</th>
                                <th>Date de début</th>
                                <th>Date de fin</th>
                                <th>Nombre de places (Total)</th>
                                <th>Nombre de places (Réservées)</th>
                                <th>Nombre de places (Restantes)</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for session in sessions %}
                                <tr class="tac">
                                    <td class="link-shadow-home">
                                        <a class="dashboard-links" href="{{ path('show_session', {'id': session.id}) }}">{{ session.intitule }}</a>
                                    </td>
                                    <td class="vam">
                                        {{ session.dateDebut|date("d.m.Y") }}
                                    </td>
                                    <td class="vam">
                                        {{ session.dateFin|date("d.m.Y") }}
                                    </td>
                                    <td class="number vam">
                                        {{ session.nombrePlace }}
                                    </td>
                                    <td class="number vam">
                                        {{ session.stagiaires|length }}
                                    </td>
                                    <td class="number vam">
                                        {{ session.nombrePlace - session.stagiaires|length }}
                                    </td>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <td class="vam">
                                            <a class="dashboard-links" href="{{ path('edit_session', {'id': session.id}) }}"><span class="material-symbols-outlined">settings</span></a>
                                        </td>
                                        <td class="vam">
                                            <a class="dashboard-links" href="{{ path('delete_session', {'id': session.id}) }}"><span class="material-symbols-outlined">delete</span></a> 
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="card-user mb-5">
                    {% if users is not empty %}
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Prénom</th>
                                <th class="tac">Nom</th>
                                <th class="tac">Rôle</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                {% if 'ROLE_ADMIN' not in user.roles %}
                                    <tr>
                                        <td>
                                            <a class="dashboard-links" href="{{ path('edit_user', {'id': user.id}) }}"><span class="material-symbols-outlined">settings</span></a>
                                            <a class="dashboard-links" href="{{ path('delete_user', {'id': user.id}) }}"><span class="material-symbols-outlined">delete</span></a>
                                        </td>
                                        <td>
                                            <p>{{ user.prenom }}</p>
                                        </td>
                                        <td>
                                            <p class="ms-3">{{ user.nom }}</p>
                                        </td>
                                        <td>
                                            <p class="ms-2">
                                                {% if 'ROLE_TRAINER' in user.roles %}
                                                    Formateur
                                                {# {% endif %} #}
                                                {% elseif 'ROLE_MODERATOR' in user.roles %}
                                                    Moderateur
                                                {# {% endif %} #}
                                                {% elseif 'ROLE_ADMINISTRATIF' in user.roles %}
                                                    Administration
                                                {% else %}
                                                    {{ user.roles|join(', ') }}
                                                {% endif %}
                                            </p>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}  
                        <p class="center">
                            Aucun utilisateur enregistrer.
                        </p>
                    {% endif %}
                </div>
            {% endif %}
    {% endif %}
{% endblock %}