{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    {% if app.user %}
        <div class="container mt-4">
            
            <h1 class="title">Bienvenue !</h1>
            {% if is_granted('ROLE_ADMIN') %}
                <p class="text-danger center">Administrateur</p>

                <p class="center">Vous êtes connecté avec l'adresse e-mail : {{ app.user.email }}</p>

                <div class="card-container">
                    <button class="btn btn-success"><a class="linkAddBtn" href="{{ path('new_formateur') }}">Ajouter un formateur</a></button>
    
                    <button class="btn btn-success"><a class="linkAddBtn" href="{{ path('new_formation') }}">Ajouter une formation</a></button>
                
                    <button class="btn btn-success"><a class="linkAddBtn" href="{{ path('new_programme') }}">Programmer une session</a></button>

                    <button class="btn btn-success"><a class="linkAddBtn" href="{{ path('new_session') }}">Ajouter une session</a></button>
                </div>

            {% else %}
                <p class="center">Utilisateur</p>

                <p class="center">Vous êtes connecté avec l'adresse e-mail : {{ app.user.email }}</p>
            {% endif %}



            
            
        </div>
    {% endif %}

{% endblock %}
