{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% if not app.user %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h3 class="center mt-3">Please sign up</h3>
    <div class="card-reg tac mt-3">

    
        {{ form_start(registrationForm, {'attr': {'id': 'registration_form'}}) }}

            {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
            <div class="row tac">
                <div class="col-sm">
                    {{ form_row(registrationForm.prenom) }} 
                </div>
                <div class="col-sm">
                    {{ form_row(registrationForm.nom) }} 
                </div>
            </div>
            {{ form_row(registrationForm.dateNaissance) }}
            {{ form_row(registrationForm.plainPassword.first, {'label': 'Password', 'attr': {'class': 'form-control'}}) }}
            {{ form_row(registrationForm.plainPassword.second, {'label': 'Repeat Password', 'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="d-flex flex-column center mt-4">
            <div>
                {{ form_label(registrationForm.agreeTerms, 'Agree terms and conditions', {'label_attr': {'class': 'form-check-label'}}) }}
                {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input', 'id': 'agreeTerms'}}) }}
            </div>

            <div class="mt-2 mb-5">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        
            {{ form_errors(registrationForm) }}
        {{ form_end(registrationForm) }}
    </div>
    {% else %}
        <div class="mb-3 center">
            <strong><p>Congratulations! Your email has been successfully confirmed. Welcome to our community!</p></strong>
            <p>You are logged in as {{ app.user.email }}</p>
        </div>
    {% endif %}
{% endblock %}
