{# Étend le template de base.html.twig #}
{% extends 'base.html.twig' %}

{# Définit le contenu du bloc 'title' qui sera utilisé dans le template parent base.html.twig #}
{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <h1>Modules par Catégorie</h1>
    <div class="center mt-3"><a class="btn btn-success linkBtn" href="{{ path('new_module') }}">Ajouter un Module</a>
    </div>
    <div>
        <div class="card mt-2">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for categorie in categories %}
                        <tr>
                            <td>
                                <h3 class="link link-shadow"><a href="{{ path('show_module', {'id': categorie.id}) }}">{{ categorie|raw }}</a></h3>
                            </td>
                            <td class="tac">
                                <strong>
                                    <p class="number">{{ categorie.modules | length }}</p>
                                </strong>
                            </td>
                            <td class="link">
                                <a href="{{ path('edit_categorie', {'id': categorie.id}) }}"><span class="material-symbols-outlined">settings</span></a>

                                <a href="{{ path('delete_categorie', {'id': categorie.id}) }}"><span class="material-symbols-outlined">delete</span></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
