{# Étend le template de base.html.twig #}
{% extends 'base.html.twig' %}

{# Définit le contenu du bloc 'title' qui sera utilisé dans le template parent base.html.twig #}
{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <h1 class="title">Modules par Catégorie</h1>
    <div class="center"><a class="btn btn-success linkBtn" href="{{ path('new_module') }}">Ajouter un Module</a>
    </div>
    <div id="container">
        <div class="card">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>Catégorie</th>
                        <th class="center">Modules (Quantité)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for categorie in categories %}
                        <tr>
                            <td>
                                <div class="link link-shadow">
                                    <h3><a href="{{ path('show_module', {'id': categorie.id}) }}">{{ categorie|raw }}</a></h3>
                                </div>
                            </td>
                            <td>
                                <p class="number">{{ categorie.modules | length }}</p>
                            </td>
                            <td class="center">
                                <a class="btn btn-warning linkBtn" href="{{ path('edit_categorie', {'id': categorie.id}) }}">Modifier</a>
                                <a class="btn btn-danger linkBtn" href="{{ path('delete_categorie', {'id': categorie.id}) }}">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
