{% extends 'base.html.twig' %}

{% block title %}Liste des Modules{% endblock %}

{% block body %}

    <h1 class="title">{{ categorie|raw }}</h1>
    <div class="center"><a class="btn btn-success linkBtn" href="{{ path('new_module') }}">Ajouter un Module</a>
    </div>

    <table class="center">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for module in categorie.modules %}
                    <tr class="card-module myRow mt-4">
                        <td>
                            <h2 class="card-items">{{ module.nom }}</h2>
                        </td>
                        <td class="iconsInModule link">
                            <a href="{{ path('edit_module', {'id': module.id}) }}"><span class="material-symbols-outlined">settings</span></a>
                            <a href="{{ path('delete_module', {'id': module.id}) }}"><span class="material-symbols-outlined">delete</span></a>
                        </td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
   

{% endblock %}
