{# Étend le template de base.html.twig #}
{% extends 'base.html.twig' %}

{# Définit le contenu du bloc 'title' qui sera utilisé dans le template parent base.html.twig #}
{% block title %}Liste des formateurs{% endblock %}

{% block body %}
    <h1 class="title">Formateurs</h1>
    <div class="center"><a class="btn btn-success linkBtn" href="{{ path('new_formateur') }}">Ajouter un Formateur</a>
    </div>
    <div id="container">
        <div class="card">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>Formateur</th>
                        <th>Formation</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% set formationsDejaVues = [] %}
                    {% for formateur in formateurs %}
                        <tr>
                            <td>
                                <div class="link link-shadow">
                                    <a href=""><p>{{ formateur }}</p></a>
                                </div>
                            </td>
                            <td class="center link">
                                {% for session in formateur.sessions %}
                                    <a href=""><p>{{ session.formation.intitule }}</p></a>
                                {% endfor %}
                            </td>
                            <td class="link">
                                <a href="{{ path('edit_formateur', {'id': formateur.id}) }}"><span class="material-symbols-outlined">settings</span></a>

                                <a href="{{ path('delete_formateur', {'id': formateur.id}) }}"><span class="material-symbols-outlined">delete</span></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
